Header.css

#header
{
	@property "header";
	background-color: @contentText;
	@property "/header";
}

{xen:helper clearfix, '#header .pageWidth .pageContent'}

	#logo
	{
		display: block;
		float: left;
		line-height: {xen:calc '@headerLogoHeight - 4'}px;
		*line-height: @headerLogoHeight;
		height: @headerLogoHeight;
		max-width: 100%;
		vertical-align: middle;
	}

		/* IE6/7 vertical align fix */
		#logo span
		{
			*display: inline-block;
			*height: 100%;
		}

		#logo a:hover
		{
			text-decoration: none;
		}

		#logo img
		{
			vertical-align: middle;
			max-width: 100%;
		}

	#visitorInfo
	{
		float: right;
		min-width: 250px;
		_width: 250px;
		overflow: hidden; zoom: 1;
		background: @primaryLighter;
		padding: 5px;
		border-radius: 5px;
		margin: 10px 0;
		border: 1px solid @primaryDarker;
		color: @primaryDarker;
	}

		#visitorInfo .avatar
		{
			float: left;
			display: block;
		}

			#visitorInfo .avatar .img
			{
				border-color: @primaryLightish;
			}

		#visitorInfo .username
		{
			font-size: 18px;
			text-shadow: 1px 1px 10px white;
			color: @primaryDarker;
			white-space: nowrap;
			word-wrap: normal;
		}

		#alerts
		{
			zoom: 1;
		}

		#alerts #alertMessages
		{
			padding-left: 5px;
		}

		#alerts li.alertItem
		{
			font-size: 11px;
		}

			#alerts .label
			{
				color: @primaryDarker;
			}
			
			<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-15695722-5', 'tokyocycle.com');
ga('send', 'pageview');

</script>
		
